{% extends "main.html" %}
{% block content %}
{% include "header.html" %}



<!-- page title -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center orange-text">Users</h1>
    <div class="row center">
      <h5 class="header col s12 light">A list of users in database </h5>
    </div>
  </div>
</div>



<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
		  <div class="icon-block">
          <h4 class="center">Users</h4>
          <div class="collection">
           {% for i in range(10) %}
                <a href = "#" class="collection-item"> <h2>{{x[i]}}</h2></a>
                <a href = "/edit_users" >Edit</a>
                <a href = "#" >Delete</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="section">
    </div>
</div>
{% endblock %}
